/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	line-height: 1;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;
	color: #6A6A6A;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	font-size: 16px;
}
.preloaderWrapper{
	position: fixed;
	z-index: 99999999999;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}
.preloaderWrapper p{
	position: absolute;
	z-index: 9;
	width: 250px;
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
.preloaderHider{
	position: absolute;
	z-index: 99;
	width: 250px;
	height: 50px;
	background-color: rgba(255, 255, 255, 1);
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	box-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF, 0px 0px 15px #FFF,
}
.preloaderWrapper span{
	z-index: 999;
	-webkit-animation: spanAnime 1s linear infinite alternate;
	        animation: spanAnime 1s linear infinite alternate;
}
@-webkit-keyframes spanAnime {
    0%   {opacity: 0; filter: alpha(opacity=0);}
    100% {opacity: 1; filter: alpha(opacity=100);}
}
@keyframes spanAnime {
    0%   {opacity: 0; filter: alpha(opacity=0);}
    100% {opacity: 1; filter: alpha(opacity=100);}
}
.mainContantWrapper{
	width: 100%;
	height: 100vh;
	position: relative;
}
.thoughtsBearWrapper{
	position: absolute;
	z-index: -99;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 50%;
	height: 100vh;
}
.thoughtsRabbitWrapper{
	position: absolute;
	z-index: -99;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 50%;
	height: 100vh;
}
.leftBearWrapper{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 50%;
	height: 100vh;
	background-color: #FFF;
}
.thoughtsBigBear{
	position: absolute;
	z-index: 5;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 600px;
}
.thoughtsSmallBear{
	position: absolute;
	z-index: 5;
	top: 250px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 100px;
}

.rightRabbitWrapper{
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 50%;
	height: 100vh;
	background-color: #FFF;
}
#developer{
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0;
}
.bearStroke{
	position: absolute;
	z-index: 99;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 400px;
	height: 400px;
	opacity: 0;
}
.bearColor{
	position: absolute;
	z-index: 999;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 400px;
	height: 400px;
	opacity: 0;
}
.bearTextWrapper{
	position: absolute;
	z-index: 9999;
	width: 540px;
	height: 200px;
	bottom: 10%;
	right: 0px;
	left: 0px;
	margin: auto;
	font-size: 32px;
	line-height: 32px;
}
.htmlTag{
	position: absolute;
	width: 270px;
	height: 32px;
	top: 0px;
	left: 0px;
	text-align: center;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.bootStrap{
	position: absolute;
	width: 270px;
	height: 32px;
	top: 16px;
	right: 0px;
	text-align: center;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.javaScript{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 62px;
	left: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.angularJ{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 78px;
	right: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.rubyLang{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 124px;
	left: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.rubyFrame{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 142px;
	right: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}

.rabbitTextWrapper{
	position: absolute;
	z-index: 9999;
	width: 540px;
	height: 200px;
	right: 0px;
	left: 0px;
	bottom: 10%;
	margin: auto;
	font-size: 32px;
	line-height: 32px;	
}
.photoshop{
	position: absolute;
	width: 270px;
	height: 32px;
	top: 0px;
	left: 0px;
	text-align: center;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.illustrator{
	position: absolute;
	width: 270px;
	height: 32px;
	top: 16px;
	right: 0px;
	text-align: center;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.afterEffects{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 62px;
	left: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.cinema{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 78px;
	right: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.seo{
	position: absolute;
	width: 280px;
	height: 32px;
	text-align: center;
	top: 124px;
	left: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.content{
	position: absolute;
	width: 270px;
	height: 32px;
	text-align: center;
	top: 142px;
	right: 0px;
	text-shadow: 0px 0px 5px #6A6A6A, 0px 0px 10px #E4E4E4, 0px 0px 15px #FFF;
}
.rabbitStroke{
	position: absolute;
	z-index: 99;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 400px;
	height: 400px;
	opacity: 0;
}
.rabbitColor{
	position: absolute;
	z-index: 999;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 400px;
	height: 400px;
	opacity: 0;
}
#bearLeftArrow{
	position: absolute;
	z-index: 99999;
	top: 0px;
	bottom: 0px;
	left: 20px;
	margin: auto;
	width: 150px;
	opacity: 0;
	cursor: pointer;
}
#rabbitRightArrow{
	position: absolute;
	z-index: 99999;
	top: 0px;
	bottom: 0px;
	right: 20px;
	margin: auto;
	width: 150px;
	opacity: 0;
	cursor: pointer;
}


